<div class="pull-right" *ngIf="haveJoined">Average

  <button mat-fab>

    <span *ngIf="game.flipped">{{average | number: "1.2-2"}}</span>
    <span *ngIf="!game.flipped"><i class="fa fa-question"></i></span>
  </button>


</div>
<div class="">
  <h1 *ngIf="haveJoined">{{ name }}</h1>

  <div>
    <mat-form-field *ngIf="!haveJoined">
      <input matInput placeholder="Your name" [(ngModel)]="name" />
    </mat-form-field>
    <div *ngIf="!haveJoined">
      <mat-form-field>
        <select [(ngModel)]="role" matNativeControl placeholder="Role" *ngIf="!haveJoined">
          <option value="dev">Developer</option>
          <option value="sm">Scrum Master</option>
        </select>
      </mat-form-field>
      <div>
        <button mat-raised-button (click)="join()" *ngIf="name">
          Join Current Game
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="name && haveJoined">
  <mat-list *ngFor="let developer of game?.developers">
    <mat-list-item>
      <h3>
        <label style="width: 100px; text-align: right; display: inline-block; margin-right: 20px">
          {{ developer.name }}
        </label>

        <span *ngIf="game.flipped">
          {{ developer.points }}
        </span>
        <span *ngIf="developer.points && name != developer.name && !game.flipped"><i class="fa fa-check"></i></span>
        <span *ngIf="!developer.points && name != developer.name && !game.flipped"><i class="fa fa-question"></i></span>
        <span *ngIf="name == developer.name">
          <span *ngIf="role == 'dev'&& !game.flipped">
            <mat-form-field>
              <input matInput placeholder="Points" type="number" size="1" [(ngModel)]="points" (keypress)='onEnter($event)' />

            </mat-form-field>
            <span *ngIf="voted"><i class="fa fa-check"></i></span>
            &nbsp; <button mat-raised-button (click)="vote()">Vote</button>
          </span>
        </span>
      </h3>

    </mat-list-item>
  </mat-list>
  <div class="row" *ngIf="role == 'sm'">
    <button mat-raised-button (click)="startNewGame()" class="pull-right">Start new Game</button>
    <button style="width: 150px" mat-raised-button (click)="flip()">Flip
      <mat-progress-bar mode="determinate" [value]="percentVoted" style="margin:3px"></mat-progress-bar>
    </button>
  </div>
</div>